body {
  margin: auto;
}
#square {
  float: left;
  width: 110px;
  height: 110px;
  margin: 1px;
  border-width: 0px;
  border-style: solid:
  border-color:black;
}
#pink {
  float: left;
  width: 110px;
  height: 110px;
  margin: 1px;
  border-width: 0px;
  border-style: solid:
  border-color:black;
}
#purple {
  float: left;
  width: 110px;
  height: 110px;
  margin: 1px;
  border-width: 0px;
  border-style: solid:
  border-color:black;
}
#blue {
  float: left;
  width: 110px;
  height: 110px;
  margin: 1px;
  border-width: 0px;
  border-style: solid:
  border-color:black;
}
#green {
  float: left;
  width: 110px;
  height: 110px;
  margin: 1px;
  border-width: 0px;
  border-style: solid:
  border-color:black;
}
#yellow {
  float: left;
  width: 110px;
  height: 110px;
  margin: 1px;
  border-width: 0px;
  border-style: solid:
  border-color:black;
}
#orange {
  float: left;
  width: 110px;
  height: 110px;
  margin: 1px;
  border-width: 0px;
  border-style: solid:
  border-color:black;
}
#red {
  float: left;
  width: 110px;
  height: 110px;
  margin: 1px;
  border-width: 0px;
  border-style: solid:
  border-color:black;
}
